.answers
{
  display: none;
}
h2.answer
{
  font-style: italic;
}
.formPage
{
  display: none;
}
#quizButton
{
  display: none;
}
body
{
  background-color: silver;
}
img
{
  width: 300px;
  height:auto;
}
